
    #bookings{
        width: 100%;
        height: 100vh;
        background-color: #fffbdc;
        display: flex;

    }
    .booking-div{
        width: 40%;
        height: 100%;
        overflow-y: scroll;
        padding: 30px 40px;
    }
    .images-div1{
        width: 60%;
        height: 100%;
        background-color: #FFF0A6;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }
    .dark{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #00000098;
    }
   
    .booking-title{
        font-family: 'Playfair Display', sans-serif;
        font-weight: 500;
        font-size: 25px;
        text-decoration: underline;
        text-align: center;
        margin-bottom: 20px;
    }
    .booking-sign{
        font-family: 'Playfair Display', sans-serif;
        font-weight: 400;
        font-size: 22px;
        text-decoration: underline;
        text-align: center;
    }
    .caution{
        text-align: center;
        color: red;
        margin-top: 10px;
        font-size: 18px;
    }
    .guest{
        position: relative;
        width: 100%;
        height: auto;
        margin: 20px auto 20px;
        display: flex;
        background-color: white;
        align-items: center;
        padding: 20px 20px;
        font-family: 'Abel', sans-serif;
        border-radius: 30px;
        justify-content: space-between;
        font-size: 18px;
        /* border: 1px solid black; */
        box-shadow: 0px 3px 10px -4px rgba(0,0,0,1);

    }
    .old-signin{
        width: 100%;
        height: auto;
        background: white;
        z-index: 6;
        margin: 0 auto;
        padding: 20px 10px 10px;
        
    }
  
    .old-input{
        width: 100%;
        height: 30px;
        border: none;
        outline: none;
        border-bottom: 2px solid black;
        padding-left: 10px;
        font-size: 15px;
        
    }
    .old-input::placeholder{
        font-family: 'Abel', sans-serif;
    }
    .old-submit{
        width: 70%;
        height: 45px;
        background-color: black;
        color: white;
        font-family: 'Playfair Display', sans-serif;
        border-radius: 10px;
        margin: 15px auto 0;
        display: grid;
        place-items: center; 
        border: none;
        outline: none;
    }
   
    .old-submit span{
        width: 27px;
        height: 27px;
        animation: round 0.5s linear infinite;
        border: 3px solid white;
        border-radius: 70%;
        border-right: none;
        border-left: none;
        border-top: none;
    }
    @keyframes round {
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg); 
        }
    }
    .user-response{
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 17px;
        font-family: 'Playfair Display', sans-serif;
        background-color: transparent;
        border-radius: 10px;
    }
    .new-signin{
        width: 100%;
        height: auto;
        margin: 0 auto 20px;
        background: white;
        z-index: 6;
        padding: 10px 7px;
        border-radius: 7px;
    }
    .names{
        display: flex;
        justify-content: space-between;
    }
    .name{
        width: 48%;
        height: 30px;
        border: none;
        outline: none;
        border-bottom: 2px solid black;
        padding-left: 5px;
        margin: 10px 0;
    }

    .name::placeholder{
        font-family: 'Abel', sans-serif;
    }
    .other-inputs{
        width: 100%;
        margin: 10px 0;
        height: 30px;
        border: none;
        outline: none;
        border-bottom: 2px solid rgb(0, 0, 0);
        padding-left: 5px;
        
    }
    .other-inputs::placeholder{
        font-family: 'Abel', sans-serif;
    }
    .new-submit{
        width: 80%;
        height: 40px;
        background-color: black;
        color: white;
        font-family: 'Playfair Display', sans-serif;
        border: none;
        outline: none;
        border-radius: 10px;
        display: block;
        margin: 10px auto 0;
    }
    .checkinout{
        width: 100%;
        height: auto;
        background-color: white;
        padding: 15px 0;
        border-radius: 15px;
        box-shadow: 0px 0px 15px -4px rgba(0,0,0,1);
        margin-top: 30px;
    }
    .check-div{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        margin: 15px auto 5px;
    }
    .check-box{
        width: 40%;
        height: auto;
        padding: 0 5px 10px;
        background-color: white;
        border: 1px solid black;
        text-align: center;
        border-radius: 10px;
        margin-top: 25px;
    }
    .check-active{
        border: 4px solid #ddd598;
    }
    .check-header{
        font-family: 'Playfair Display', sans-serif;
        margin: 10px 0;
        text-decoration: underline;
    }
    .check-in{
        font-family: 'Abel', sans-serif;
        color: rgb(69, 69, 69);
        font-size: 20px;
    }
    .check-out{
        font-family: 'Abel', sans-serif;
        color: rgb(69, 69, 69);
        font-size: 20px;

    }
    .guests-div{
        width: 99%;
        height: auto;
        background-color: white;
        margin: 30px auto;
        border-radius: 15px;
        padding: 15px 10px 20px;
        box-shadow: 0px 0px 15px -4px rgba(0,0,0,1);

    }
    .guest-div{
        width: 90%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        font-family: 'Abel', sans-serif;
        border-bottom: 1px solid black;
        margin: 10px auto 0;
    }
    .guest-div:nth-child(4){
        border-bottom: none;
    }
    .guest-categ{
        width: 40%;

    }
    .guest-categ p:nth-child(1){
        font-size: 19px;
    }
    .guest-categ p:nth-child(2){
        font-size: 13px;
    }
    .guest-count{
        width: 45%;
        display: flex;
        justify-content: space-between;
    }
    .guest-count span{
        width: 25px;
        height: 25px;
        display: grid;
        place-items: center;
    }
    .guest-count span:nth-child(1){
        font-family: 'Playfair Display', sans-serif;

    }
    .guest-count span:nth-child(2){
        font-size: 20px;        
    }

    .guest-count span:nth-child(3){
        font-family: 'Playfair Display', sans-serif;
        
    }
    .wishlist-div{
        width: 99%;
        height: auto;
        box-shadow: 0px 0px 15px -4px rgba(0,0,0,1);
        background-color: white;
        border-radius: 15px;
        margin: 0 auto;
        padding: 15px 10px;
    }
    .wishlist-desc{
        font-family: 'Abel', sans-serif;
        color: #989898;
        width: 80%;
        text-align: center;
        margin: 10px auto 30px;
        
    }
    .wish-input{
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
    }
    .wish-input input{
        width: 100%;
        height: 35px;
        border: none;
        outline: none;
        border-bottom: 2px solid black;
        padding-left: 10px;
    }
    .wish-input input::placeholder{
        font-family: 'Abel', sans-serif;
        color: #989898;
    }
    .wish-input button{
        margin-top: 20px;
        width: 45px;
        height: 45px;
        display: grid;
        place-items: center;
        background-color: black;
        border-radius: 50%;
        color: white;
        font-size: 30px;
        outline: none;
        border: none;
    }
    .wishlist-item{
        width: 70%;
        padding: 12px;
        margin: 0 auto;
        font-family: 'Abel', sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .item-delete{
        width: 30px;
        height: 30px;
        background-color: black;
        border-radius: 50%;
        color: white;
        font-size: 18px;
        display: grid;
        place-items: center;
        font-family: 'Playfair Display', sans-serif;
    }
    .reserve-div{
        width: 80%;
        height: 60px;
        background-color: black;
        color: white;
        margin: 30px auto 10px;
        display: grid;
        place-items: center;
        font-size: 22px;
        font-family: 'Playfair Display', sans-serif;
        border-radius: 50px;
    }
    .payment-div{
        width: 99%;
        height: auto;
        margin: 30px auto 0;
        /* box-shadow: 0px 0px 15px -4px rgba(0,0,0,1);
        border-radius: 15px; */
        padding: 15px 10px;
    }
    .payment-desc{
        font-family: 'Abel', sans-serif;
        font-size: 20px;
        width: 90%;
        text-align: center;
        margin: 10px auto 30px;
    }
    .confirm{
        width: 70%;
        height: auto;
        display: flex;
        margin: 0 auto;
        align-items: center;
    }
    .checkbox{
        width: 25px;
        height: 25px;
        margin-right: 30px;
    }
    .confirm p{
        font-family: 'Abel', sans-serif;
        font-size: 18px;
    }
    .confirmation{
        position: fixed;
        right: 0;
        top: 0;
        width: 40%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 5;
        display: grid;
        place-items: center;
    }
    .confirm-content{
        width: 70%;
        height: auto;
        text-align: center;
        background-color: #FFF0A6;
        font-family: 'Playfair Display', sans-serif;
        padding: 30px 20px;
        border-radius: 20px;
    }
    .confirm-content p:nth-child(1){
        font-size: 23px;
        margin-bottom: 30px;
    }
    .confirm-content p:nth-child(2){
        font-size: 18px;
        list-style: 30px;
    }


    

@media screen and (max-width: 800px) {
    #bookings{
        width: 100%;
        height: auto;
        background-color: #ffffff;
        display: block;
    }
    .images-div1{
        display: none;
    }
    .booking-div{
        width: 100%;
        height: auto;
        background-color: #fffad7;
        border-radius: 20px;
        padding: 10px 15px;
        overflow-y: visible;
    }
    .booking-title{
        font-family: 'Playfair Display', sans-serif;
        font-weight: 500;
        font-size: 20px;
        text-decoration: underline;
        text-align: center;
        margin-bottom: 20px;
    }
    .booking-sign{
        font-family: 'Playfair Display', sans-serif;
        font-weight: 400;
        font-size: 18px;
        text-decoration: underline;
        text-align: center;
    }
    .caution{
        text-align: center;
        color: red;
        margin-top: 10px;
        font-size: 15px;
    }
    .guest{
        position: relative;
        width: 100%;
        height: auto;
        margin: 20px auto 20px;
        display: flex;
        background-color: white;
        align-items: center;
        padding: 15px 20px;
        font-family: 'Abel', sans-serif;
        border-radius: 30px;
        justify-content: space-between;
        font-size: 18px;
        /* border: 1px solid black; */
        box-shadow: 0px 3px 10px -4px rgba(0,0,0,0.5);

    }
    .old-signin{
        width: 100%;
        height: auto;
        background: white;
        z-index: 6;
        margin: 0 auto;
        padding: 20px 10px 10px;
        
    }
  
    .old-input{
        width: 100%;
        height: 30px;
        border: none;
        outline: none;
        border-bottom: 2px solid black;
        padding-left: 10px;
        font-size: 15px;
        
    }
    .old-input::placeholder{
        font-family: 'Abel', sans-serif;
    }
    .old-submit{
        width: 70%;
        height: 45px;
        background-color: black;
        color: white;
        font-family: 'Playfair Display', sans-serif;
        border-radius: 10px;
        margin: 15px auto 0;
        display: grid;
        place-items: center; 
        border: none;
        outline: none;
    }
   
    .old-submit span{
        width: 27px;
        height: 27px;
        animation: round 1s linear infinite;
        border: 3px solid white;
        border-radius: 70%;
        border-right: none;
        border-left: none;
        border-top: none;
    }
    @keyframes round {
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg); 
        }
    }
    .new-signin{
        width: 100%;
        height: auto;
        margin: 0 auto 20px;
        background: white;
        z-index: 6;
        padding: 10px 7px;
        border-radius: 7px;
    }
    .names{
        display: flex;
        justify-content: space-between;
    }
    .name{
        width: 48%;
        height: 30px;
        border: none;
        outline: none;
        border-bottom: 2px solid black;
        padding-left: 5px;
        margin: 10px 0;
    }

    .name::placeholder{
        font-family: 'Abel', sans-serif;
    }
    .other-inputs{
        width: 100%;
        margin: 10px 0;
        height: 30px;
        border: none;
        outline: none;
        border-bottom: 2px solid rgb(0, 0, 0);
        padding-left: 5px;
        
    }
    .other-inputs::placeholder{
        font-family: 'Abel', sans-serif;
    }
    .new-submit{
        width: 80%;
        height: 40px;
        background-color: black;
        color: white;
        font-family: 'Playfair Display', sans-serif;
        border: none;
        outline: none;
        border-radius: 10px;
        display: block;
        margin: 10px auto 0;
    }
    .checkinout{
        width: 100%;
        height: auto;
        background-color: white;
        padding: 15px 0;
        border-radius: 15px;
        box-shadow: 0px 7px 15px -7px rgba(0,0,0,1);

    }
    .check-div{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        margin: 15px auto 5px;
    }
    .check-box{
        width: 40%;
        height: auto;
        padding: 0 5px 10px;
        background-color: white;
        border: 1px solid black;
        text-align: center;
        border-radius: 10px;
    }
    .check-active{
        border: 4px solid #ddd598;
    }
    .check-header{
        font-family: 'Playfair Display', sans-serif;
        margin: 10px 0;
        text-decoration: underline;
    }
    .check-in{
        font-family: 'Abel', sans-serif;
        color: rgb(69, 69, 69);
        font-size: 18px;
    }
    .check-out{
        font-family: 'Abel', sans-serif;
        color: rgb(69, 69, 69);
        font-size: 18px;

    }
    .guests-div{
        width: 99%;
        height: auto;
        background-color: white;
        margin: 20px auto;
        border-radius: 15px;
        padding: 15px 10px;
        box-shadow: 0px 7px 15px -7px rgba(0,0,0,1);

    }
    .guest-div{
        width: 90%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        font-family: 'Abel', sans-serif;
        border-bottom: 1px solid black;
        margin: 10px auto 0;
    }
    .guest-categ{
        width: 40%;

    }
    .guest-categ p:nth-child(1){
        font-size: 19px;
    }
    .guest-categ p:nth-child(2){
        font-size: 13px;
    }
    .guest-count{
        width: 45%;
        display: flex;
        justify-content: space-between;
    }
    .guest-count span{
        width: 25px;
        height: 25px;
        display: grid;
        place-items: center;
    }
    .guest-count span:nth-child(1){
        font-family: 'Playfair Display', sans-serif;

    }
    .guest-count span:nth-child(2){
        font-size: 20px;        
    }

    .guest-count span:nth-child(3){
        font-family: 'Playfair Display', sans-serif;
        
    }
    .wishlist-div{
        width: 99%;
        height: auto;
        box-shadow: 0px 7px 15px -7px rgba(0,0,0,1);
        background-color: white;
        border-radius: 15px;
        margin: 0 auto;
        padding: 15px 10px;
    }
    .wishlist-desc{
        font-family: 'Abel', sans-serif;
        color: #989898;
        width: 90%;
        text-align: center;
        margin: 10px auto 30px;
        
    }
    .wish-input{
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
    }
    .wish-input input{
        width: 100%;
        height: 35px;
        border: none;
        outline: none;
        border-bottom: 2px solid black;
        padding-left: 10px;
    }
    .wish-input input::placeholder{
        font-family: 'Abel', sans-serif;
        color: #989898;
    }
    .wish-input span{
        margin-top: 20px;
        width: 45px;
        height: 45px;
        display: grid;
        place-items: center;
        background-color: black;
        border-radius: 50%;
        color: white;
        font-size: 30px;
    }
    .wishlist-item{
        width: 70%;
        padding: 12px;
        margin: 0 auto;
        font-family: 'Abel', sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .item-delete{
        width: 30px;
        height: 30px;
        background-color: black;
        border-radius: 50%;
        color: white;
        font-size: 18px;
        display: grid;
        place-items: center;
        font-family: 'Playfair Display', sans-serif;
    }
    .reserve-div{
        width: 80%;
        height: 50px;
        background-color: black;
        color: white;
        margin: 20px auto 10px;
        display: grid;
        place-items: center;
        font-size: 20px;
        font-family: 'Playfair Display', sans-serif;
        border-radius: 50px;
    }
    .checkbox{
        width: 25px;
        height: 25px;
        margin-right: 25px;
    }
    .payment-desc{
        font-family: 'Abel', sans-serif;
        font-size: 18px;
        width: 95%;
        text-align: center;
        margin: 10px auto 30px;
    }
    .confirmation{
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 5;
        display: grid;
        place-items: center;
    }
    .confirm-content{
        width: 90%;
        height: auto;
        text-align: center;
        background-color: #FFF0A6;
        font-family: 'Playfair Display', sans-serif;
        padding: 30px 20px;
        border-radius: 20px;
    }
    .confirm-content p:nth-child(1){
        font-size: 23px;
        margin-bottom: 30px;
    }
    .confirm-content p:nth-child(2){
        font-size: 17px;
        list-style: 30px;
    }
}

