
    #calendar-container {
        background: #fff;
        width: 95%;
        margin: 30px auto 10px;
        border-radius: 10px;
        display: block;
    }
    
    .calendar-container header {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 25px 20px 10px;
    }
    
    header .calendar-navigation {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    header .calendar-navigation span {
        height: 38px;
        width: 38px;
        margin: 0 1px;
        cursor: pointer;
        text-align: center;
        border-radius: 50%;
        user-select: none;
        color: #040404;
        display: grid;
        place-items: center;
    }
    
    .calendar-navigation span:last-child {
        margin-right: -10px;
    }
    
    
    header .calendar-current-date {
        font-weight: 500;
        font-size: 20px;
    }
    .calendar-current-year{
        font-weight: 500;
        font-size: 20px;
    }
    
    .calendar-body {
        padding: 20px 5px;
    }
    
    .calendar-body ul {
        list-style: none;
        flex-wrap: wrap;
        display: flex;
        text-align: center;
    }
    
    .calendar-body .calendar-dates {
        margin-bottom: 20px;
    }
    
    .calendar-body li {
        width: calc(100% / 7);
        font-size: 16px;
        color: #414141;
    }
    
    .calendar-body .calendar-weekdays li {
        cursor: default;
        font-weight: 400;
    }
    
    .calendar-body .calendar-dates li {
        margin-top: 25px;
        position: relative;
        z-index: 1;
        cursor: pointer;
        padding: 5px 0;
        border-radius: 30px;
    
    }
    
    .calendar-dates li.inactive {
        color: #aaa;
        opacity: 0;
    }
    
    .calendar-dates li.active {
        color: #000;
        border: 1px solid black;
    }
    
    .calendar-dates li::before {
        position: absolute;
        content: "";
        z-index: -1;
        top: 50%;
        left: 50%;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }
    
    
    /* .calendar-dates li:not(.active):hover::before {
        background: #e4e1e1;
    } */
    .checkinactive{
        background-color: green;
    }
    .checkoutactive{
        background-color: red;
    }
    


